# --- SEGURANÇA ---
# Nunca suba suas chaves de API
.env
api_key.py

# --- AMBIENTE VIRTUAL ---
venv/
.venv/
env/

# --- CACHE DO PYTHON ---
__pycache__/
*.py[cod]
*.class

# --- ARQUIVOS DE LOG E TEMPORÁRIOS ---
traceback
Union
uploads/
static/temp_charts/

# --- IDEs E SISTEMA ---
.vscode/
.idea/
.DS_Store
Thumbs.db
